# 데이터 처리 프로그래밍 1강
#### 2020/06/17 Keonwoo Park

### 데이터 분석 방법
- 기술 통계
- 인과 분석
- 역학 데이터 분석

### 데이터 분석 과정
- 데이터 수집 -> 데이터 정제 -> 기술 통계 분석 및 탐색적 분석 -> 미래 예측

### 데이터 수집 파이프 라인

#### 출처
- 인터넷
- 파일, 압축 파일
- 데이터베이스

#### 포맷
- 플레인 텍스트(비정형)
- CSV
- HTML/XML
- JSON
- 테이블형

#### 형태
- 리스트, 튜플, 셋
- 배열, 행렬
- 프레임, 시리즈
- 딕셔너리

## 04. 기본 문자열 함수 이해하기

In [5]:
h = "Hello, World!"

In [9]:
a ="Hello, World! \t\t\n"
a

'Hello, World! \t\t\n'

In [12]:
a.strip() #문자열 앞뒤 공백을 제거하는 함수

'Hello, World!'

In [16]:
"   Hello    ".lstrip() # 왼쪽 공백 제거

'Hello    '

In [17]:
"   Hello    ".rstrip() # 오른쪽 공백 제거

'   Hello'

In [18]:
"   Hello    ".strip() # 양쪽 공백 제거

'Hello'

In [21]:
h.split()  #공백을 기준으로 분리한다.

['Hello,', 'World!']

In [23]:
"Hello, World!".split(", ")

['Hello', 'World!']

In [29]:
"alpha, braovo, charlie, delta".split(",")

['alpha', ' braovo', ' charlie', ' delta']

In [46]:
# 한 문자열로 합치기
', '.join(["alpha", "bravo", 'charlie', 'delta'])

'alpha, bravo, charlie, delta'

In [33]:
num = "1.617.308.1985"

In [36]:
"-".join(num.split("."))

'1-617-308-1985'

In [40]:
" ".join("This sthring\n\r has many\t\tspaces".split())

'This sthring has many spaces'

In [42]:
# 문자열 위치 찾기
"www.naver.com".find(".com")

9

In [43]:
# 문자열 개수 새기
"www.naver.com".count(".")

2

In [47]:
'www.naver.com'["www.naver.com".find(".com"):]

'.com'

# unit_05

In [50]:
bigList = [str(i) for i in range(1000000)]

In [60]:
"abc" in bigList

False

In [61]:
bigSet = set(bigList)

In [62]:
"abc" in bigSet

False

- list 보다 set에서 값을 찾아오는것이 빠르다
- set은 일정 데이터량이 넘어가면 검색시간에는 큰 차이가 없음
- dictionary 구조 역시 logN의 속도
- tuple은 읽기만 가능하다.

# unit_06

#### 리스트 내포
[ 표현식 for 항목1 in 반복가능객체 if 조건문1 for 항목2 in 반복가능객체2 if 조건2 ...]

In [69]:
my_list = [i for i in range(10) if i%2 == 0]

In [70]:
my_list

[0, 2, 4, 6, 8]

In [72]:
z = [i for i in my_list if i>4]
z

[6, 8]

In [75]:
a = [i**2 for i in my_list]
a

[0, 4, 16, 36, 64]

In [82]:
inverse = [round(1/i,3) for i in range(1,21)]
inverse

[1.0,
 0.5,
 0.333,
 0.25,
 0.2,
 0.167,
 0.143,
 0.125,
 0.111,
 0.1,
 0.091,
 0.083,
 0.077,
 0.071,
 0.067,
 0.062,
 0.059,
 0.056,
 0.053,
 0.05]

# unint_07

In [83]:
from collections import Counter

In [89]:
p = "a man a plan a canal panama"
cntr = Counter(p.split())

# 각 값의 빈도를 나타냄
a=cntr.most_common()

In [100]:
cntrDict = dict(a)

In [101]:
cntrDict

{'a': 3, 'man': 1, 'plan': 1, 'canal': 1, 'panama': 1}

In [103]:
cntr

Counter({'a': 3, 'man': 1, 'plan': 1, 'canal': 1, 'panama': 1})

# Unit_08 파일다루기

#### mode 값
- r : read 파일을 읽어올 때
- w : write 파일을 쓸 때
- a : 파일을 덫붙일 때
- rw : 읽고 쓸 때
- ra : 읽고 덫붙일 때

#### 파일을 읽으면 닫아줘야함

In [109]:
f = open("test.txt", mode = "r")

In [110]:
f.read()

'A Birthday\nChristina Rossetti.\n\nMy Heart is like a singing bird\nWhose nest is in a watered shoot;\nMy heart is like and apple-tree\nWhose boughs are bent with thickset fruit;\nMy heart is like a rainbow shell\nThat paddles in a halcyon sea;\nMy heart is gladder than all these\nBecause the birthday of my life\nIs come, my love is come to me...'

In [112]:
f.close()

In [114]:
# with 함수 사용시 파일을 닫지 않아도 사용 가능

with open("test.txt", mode="r") as f:
    print(f.read())

A Birthday
Christina Rossetti.

My Heart is like a singing bird
Whose nest is in a watered shoot;
My heart is like and apple-tree
Whose boughs are bent with thickset fruit;
My heart is like a rainbow shell
That paddles in a halcyon sea;
My heart is gladder than all these
Because the birthday of my life
Is come, my love is come to me...

In [115]:
f = open("test.txt", mode='r')
lines = f.readlines()
for line in lines:
    print(line)
f.close

A Birthday

Christina Rossetti.



My Heart is like a singing bird

Whose nest is in a watered shoot;

My heart is like and apple-tree

Whose boughs are bent with thickset fruit;

My heart is like a rainbow shell

That paddles in a halcyon sea;

My heart is gladder than all these

Because the birthday of my life

Is come, my love is come to me...

In [116]:
with open("test.txt", mode="r") as f:
    line = f.readlines()
    for line in lines:
        print(line)

A Birthday

Christina Rossetti.



My Heart is like a singing bird

Whose nest is in a watered shoot;

My heart is like and apple-tree

Whose boughs are bent with thickset fruit;

My heart is like a rainbow shell

That paddles in a halcyon sea;

My heart is gladder than all these

Because the birthday of my life

Is come, my love is come to me...

- 파일을 닫지 않아도 가능
- with 함수 사용이 효과적